<h1 class="text-center">Workforce Development</h1>

<p>
	<img src="{{ '/assets/images/educational-attainment.png' | absolute_url }}" alt="Educational Attainment" class="img-responsive center-block">
</p>

<small class="text-muted">
	<p>
		Source: ESRI Business Analyst Online<br>
		The Tampa-St. Petersburg-Clearwater Metropolitan Statistical Area (MSA) is comprised of Hernando, Hillsborough, Pasco, and Pinellas counties
	</p>
</small>

<h2 class="text-center">Completions by Type</h2>

<p>
	<img src="{{ '/assets/images/degree-completions.png' | absolute_url }}" alt="Completions by Type" class="img-responsive center-block">
</p>

<div class="well well-sm">
	Completions are degrees finished in a given year at every institution in Hillsborough County. These are based on calendar years, not academic years.
</div>

<small class="text-muted">
	<p>
		Source: EMSI
	</p>
</small>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p>
			<img src="{{ '/assets/images/infographic-higher-education.png' | absolute_url }}" alt="Higher Education Infographic" class="img-responsive center-block">
		</p>
	</div>
</div>

<h2 class="text-center">School Enrollment Trends</h2>

<p>
	<img src="{{ '/assets/images/school-enrollment.png' | absolute_url }}" alt="School Enrollment" class="img-responsive center-block">
</p>

<small class="text-muted">
	<p>
		Source: Florida Department of Education
	</p>
</small>

<h2 class="text-center">High School Graduation Rates</h2>

<p>
	<img src="{{ '/assets/images/hs-graduation-rates.png' | absolute_url }}" alt="High School Graduation Rates" class="img-responsive center-block">
</p>

<small class="text-muted">
	<p>
		Source: Florida Department of Education
	</p>
</small>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p>
			<img src="{{ '/assets/images/infographic-hs-graduation.png' | absolute_url }}" alt="High School Graduation Rates Infographic" class="img-responsive center-block">
		</p>
	</div>
</div>
