---
---

#logo {
	max-width: 200px;
}

#page-header {
	margin: 20px 0;
	padding-bottom: 0;

	.jumbotron {
		margin-bottom: 0;
	}
}

// .alert-info {
// 	background: rgba(120, 204, 210, 0.3);
// }
// .alert-warning {
// 	background: rgba(255, 111, 89, 0.5);
// }
// .alert-primary {
// 	background: rgba(4, 65, 105, 0.5);
// }
