<div class="table-responsive">

	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>

				<th></th>

				<th>Labor Force</th>

				<th>Change from Dec 2015</th>

				<th>Unemployed</th>

				<th>Change from Dec 2015</th>

			</tr>
		</thead>
		<tbody>

			<tr>

				<td>Hillsborough County</td>

				<td>707,129</td>

				<td>2.01%</td>

				<td>2.01%</td>

				<td>2.01%</td>

			</tr>

			<tr>

				<td>Tampa MSA</td>

				<td>1,481,545</td>

				<td>2.01%</td>

				<td>66,105</td>

				<td>1.87%</td>

			</tr>

			<tr>

				<td>Florida</td>

				<td>9,922,000</td>

				<td>2.25%</td>

				<td>466,000</td>

				<td>0.43%</td>

			</tr>

			<tr>

				<td>United States</td>

				<td>158,968,000</td>

				<td>1.10%</td>

				<td>7,170,000</td>

				<td>-4.93%</td>

			</tr>

		</tbody>
	</table>

</div>

<p class="text-muted">
	Data as of Dec 2016<br>
	Source: Florida DEO/Bureau of Labor of Statisticscs<br>
	The Tampa-St. Petersburg-Clearwater Metropolitan Sta s cal Area (MSA) is comprised of Hernando, Hillsborough, Pasco, and Pinellas coun es
</p>
