<div class="table-responsive">
	<table class="table table-striped table-condensed table-bordered">
		<tbody>
			<tr>
				<td>Phosphatic Fertilizer Manufacturing</td>
				<td>32.71</td>
			</tr>
			<tr>
				<td>Coastal Freight Transportation</td>
				<td>13.76</td>
			</tr>
			<tr>
				<td>Mens and Boy’s Cut and Sew Apparel Manufacturing</td>
				<td>7.98</td>
			</tr>
			<tr>
				<td>Phosphate Rock Mining</td>
				<td>7.85</td>
			</tr>
			<tr>
				<td>Asphalt Shingle and Coating Materials Manufacturing</td>
				<td>7.70</td>
			</tr>
			<tr>
				<td>Secondary Smelting, Refining, and Alloying of Nonferrous Metal (except Copper and Aluminum)</td>
				<td>7.13</td>
			</tr>
			<tr>
				<td>Professional and Management Development Training</td>
				<td>6.47</td>
			</tr>
			<tr>
				<td>Electronic Shopping</td>
				<td>5.68</td>
			</tr>
			<tr>
				<td>Financial Transactions Processing, Reserve, and Clearinghouse Activities</td>
				<td>5.44</td>
			</tr>
			<tr>
				<td>Steel Investments Foundries</td>
				<td>5.23</td>
			</tr>

		</tbody>
	</table>
</div>
