<div class="table-responsive">
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Number Employed</th>
				<th>% Change from 2014</th>
				<th>Location Quotient</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Management</td>
				<td>25,177</td>
				<td>4.8%</td>
				<td>0.74</td>
			</tr>
			<tr>
				<td>Business and Financial Operations</td>
				<td>46,480</td>
				<td>4.1%</td>
				<td>1.34</td>
			</tr>
			<tr>
				<td>Computer and Mathematical</td>
				<td>23,958</td>
				<td>4.5%</td>
				<td>1.22</td>
			</tr>
			<tr>
				<td>Architecture and Engineering</td>
				<td>8,652</td>
				<td>3.8%</td>
				<td>0.73</td>
			</tr>
			<tr>
				<td>Life, Physical, and Social Science</td>
				<td>4,120</td>
				<td>2.1%</td>
				<td>0.73</td>
			</tr>
			<tr>
				<td>Community and Social Service</td>
				<td>6,324</td>
				<td>2.7%</td>
				<td>0.66</td>
			</tr>
			<tr>
				<td>Legal</td>
				<td>8,466</td>
				<td>1.1%</td>
				<td>1.65</td>
			</tr>
			<tr>
				<td>Education, Training, Library</td>
				<td>33,399</td>
				<td>0.4%</td>
				<td>0.86</td>
			</tr>
			<tr>
				<td>Arts, Design, Entertainment, Sports, Media</td>
				<td>7,079</td>
				<td>2.0%</td>
				<td>0.80</td>
			</tr>
			<tr>
				<td>Healthcare Practitioners and Technical</td>
				<td>39,785</td>
				<td>3.7%</td>
				<td>1.01</td>
			</tr>
			<tr>
				<td>Healthcare Support</td>
				<td>15,914</td>
				<td>3.9%</td>
				<td>0.80</td>
			</tr>
			<tr>
				<td>Protective Services</td>
				<td>16,546</td>
				<td>5.0%</td>
				<td>1.02</td>
			</tr>
			<tr>
				<td>Food Preparation and Serving Related</td>
				<td>60,974</td>
				<td>5.3%</td>
				<td>1.00</td>
			</tr>
			<tr>
				<td>Building and Grounds Cleaning and Maintenance</td>
				<td>18,605</td>
				<td>8.7%</td>
				<td>0.86</td>
			</tr>
			<tr>
				<td>Personal Care and Service</td>
				<td>18,048</td>
				<td>3.5%</td>
				<td>0.78</td>
			</tr>
			<tr>
				<td>Sales and Related</td>
				<td>80,129</td>
				<td>3.3%</td>
				<td>1.16</td>
			</tr>
			<tr>
				<td>Office and Administrative Support</td>
				<td>130,021</td>
				<td>3.6%</td>
				<td>1.24</td>
			</tr>
			<tr>
				<td>Farming, Fishing, Forestry</td>
				<td>6,529</td>
				<td>-3.7%</td>
				<td>1.37</td>
			</tr>
			<tr>
				<td>Construction and Extraction</td>
				<td>25,235</td>
				<td>5.8%</td>
				<td>0.97</td>
			</tr>
			<tr>
				<td>Installation, Maintenance, Repair</td>
				<td>27,819</td>
				<td>3.8%</td>
				<td>1.08</td>
			</tr>
			<tr>
				<td>Production</td>
				<td>25,649</td>
				<td>2.4%</td>
				<td>0.60</td>
			</tr>
			<tr>
				<td>Transportation and Materials Moving</td>
				<td>38,994</td>
				<td>4.4%</td>
				<td>0.86</td>
			</tr>
		</tbody>
	</table>
</div>

<p class="text-muted">
	Data as of 2016<br>
	Source: EMSI
</p>
