<div class="table-responsive">
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>2010</th>
				<th>2016</th>
				<th>2021</th>
				<th class="info">2010-2016</th>
				<th class="info">2016-2020</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>County</td>
				<td>1,229,226</td>
				<td>1,345,130</td>
				<td>1,457,802</td>
				<td class="info">9.43%</td>
				<td class="info">8.38%</td>
			</tr>
			<tr>
				<td>MSA</td>
				<td>2,783,243</td>
				<td>2,966,391</td>
				<td>3,153,465</td>
				<td class="info">6.58%</td>
				<td class="info">6.31%</td>
			</tr>
			<tr>
				<td>State</td>
				<td>18,801,310</td>
				<td>20,108,440</td>
				<td>21,436,087</td>
				<td class="info">6.95%</td>
				<td class="info">6.60%</td>
			</tr>
		</tbody>
	</table>
</div>

<p class="text-muted">
	The Tampa-St. Petersburg-Clearwater Metropolitan Statistical Area (MSA) is comprised of Hernando, Hillsborough, Pasco, and Pinellas counties<br>
	Source: ESRI Business Analyst Online
</p>
