<div class="table-responsive">
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Total Collected</th>
				<th>12 Month Average for Monthly Collections</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2012</td>
				<td>$21,539,208</td>
				<td>$1,794,934</td>
			</tr>
			<tr>
				<td>2013</td>
				<td>$21,110,443</td>
				<td>$1,759,204</td>
			</tr>
			<tr>
				<td>2014</td>
				<td>$24,412,849</td>
				<td>$2,034,404</td>
			</tr>
			<tr>
				<td>2015</td>
				<td>$27,688,070</td>
				<td>$2,307,339</td>
			</tr>
			<tr>
				<td>2016</td>
				<td>$29,914,151</td>
				<td>$2,492,846</td>
			</tr>
		</tbody>
	</table>
</div>

<p class="text-muted">
	Source: Hillsborough County Tax Collector
</p>
