---
layout: default
---

<header id="page-header" class="page-header">
	<p>
		<img id="logo" src="http://hcflgov.net/library/hillsborough/system/logos/hc-logo-horizontal-rgb.png" alt="Hillsborough County" class="img-responsive center-block">
	</p>

	<div class="jumbotron">
		<div class="container">
			<h2 class="text-center">
				{% if page.title %}
				{{ page.title }}
				{% else %}
				{{ site.title }}
				{% endif %}
			</h2>
		</div>
	</div>

</header>

<div class="container">
	{{ content }}
</div>
